[user]
	name = Chris Wood
	email = chrispychris3@gmail.com
	signingKey = BB4B19035C94020D!
[commit]
    gpgsign = true
[diff]
    tool = vimdiff
[difftool]
    prompt = 0
[merge]
    tool = vimdiff
[init]
	defaultBranch = master
