! Colors
*foreground:        #afbbcc
*background:        #080F37
*.foreground:       #afbbcc
*.background:       #080F37
URxvt*foreground:   #afbbcc
URxvt*background:   [100]#080F37
URxvt*cursorColor:  #afbbcc
URxvt*borderColor:  [100]#080F37

*.color0: #080F37
*color0:  #080F37
*.color1: #2F4775
*color1:  #2F4775
*.color2: #A24952
*color2:  #A24952
*.color3: #E85D5A
*color3:  #E85D5A
*.color4: #295890
*color4:  #295890
*.color5: #5A6E9E
*color5:  #5A6E9E
*.color6: #007CC3
*color6:  #007CC3
*.color7: #afbbcc
*color7:  #afbbcc
*.color8: #7a828e
*color8:  #7a828e
*.color9: #2F4775
*color9:  #2F4775
*.color10: #A24952
*color10:  #A24952
*.color11: #E85D5A
*color11:  #E85D5A
*.color12: #295890
*color12:  #295890
*.color13: #5A6E9E
*color13:  #5A6E9E
*.color14: #007CC3
*color14:  #007CC3
*.color15: #afbbcc
*color15:  #afbbcc
*.color66: #080F37
*color66:  #080F37

! uRxvt
URxvt.font: xft:TerminessTTF Nerd Font Mono:style=Medium:size=12
URxvt.boldFont: xft:TerminessTTF Nerd Font Mono:style=Bold:size=12
URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.internalBorder: 24
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
URxvt.transparent: false
URxvt.shading: 30
URxvt.iso14755: false
URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007
