! Colors set from pywal using .cache/wal/colors.Xresources
#include "/home/chris/.cache/wal/colors.Xresources"

URxvt*transparent: true
URxvt*shading: 30
URxvt*scrollBar: false
URxvt*font: xft:xos4 Terminus:pixelsize=10
URxvt*boldFont: xft:xos4 Terminus:pixelsize=10
!URxvt.perl-ext:
!URxvt.perl-ext-common:
